<html>
    <head>
        <title>Eirbware : application d'exemple</title>
	<meta charset="utf8" />
    </head>
    <body>
        {% block body %}
        <h1>Bienvenue !</h1>
        {% if user %}
            Bonjour {{ user.login }} ! <a href="app.php/logout">Déconnexion</a>
	    <hr />
	    {% if user.exists %}
		L'utilisateur {{ user.login}} s'apelle {{ user.prenom }} {{ user.nom }}, est en {{ user.filiereNom }}, {{ user.annee }}° année
	    {% else %}
		L'utilisateur {{ user.login }} n'existe pas en base
	    {% endif %}
        {% else %}
            Vous êtes inconnus, <a href="app.php/login">identifiez-vous</a> 
        {% endif %}
        {% endblock %}
    </body>
</html>
